body {
	background-color: gray;
	color: gold;
	font: 1.2em sans-serif;
}

h1 {
	text-transform: uppercase;
	text-align: center;
}

h3 {
	text-align: center;
}

li {
	cursor: pointer;
}

.changePColor {
	color: violet;
}

.changeBackgroundColor {
	background-color: black;
}

.changeFontSize {
	font-size: 1.6em;
}


.addPlusSign:before {
	content: "\f067";
    font-family: FontAwesome;
    position: absolute;
    margin-left: 145px;
    margin-top: 2px;
}